.modal-content {
    background-color: transparent !important;
    border: transparent !important
}


.main {
    padding-top: 95px;
}

.main .row {
    width: 100%;
    padding-left: 35px;
}

.main .row > div {
    padding-right: 1px;
    padding-left: 1px;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}